<script>
export default {
  data: () => ({
    messages: [
      {
        from: "Name",
        message: `Sania Wangjai`,

        color: "deep-purple-lighten-1",
      },
      {
        from: "Student ID",
        message: "63160191",

        color: "blue",
      },
      {
        from: "Personal",
        message: "Age : 20  Gender : Female",

        color: "yellow",
      },
      {
        from: "Education",
        message: "Bachelor's degree",

        color: "green",
      },

      {
        from: "Interests",
        message: "Back-end developer",

        color: "red",
      },
    ],
  }),
};
</script>

<template>
  <v-parallax
    src="https://hocothailand.co.th/wp-content/uploads/2019/06/bg-na3.png"
  >
    <v-container>
      <v-row justify="space-around">
        <v-col>
          <v-card width="550">
            <v-img
              height="600"
              src="https://scontent.fbkk20-1.fna.fbcdn.net/v/t39.30808-6/320696626_1025315541962123_9132755071426402390_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH765CaVsfb1pYwo08Of9Tfu4dOXnvLh_q7h05ee8uH-gmemeySuLgWe0hwvLJ96vIeAwTMyb_JVvX-3w_JnLMk&_nc_ohc=Is5IZs283awAX-UY8OH&_nc_ht=scontent.fbkk20-1.fna&oh=00_AfB6DJ4DoCBWiSkWWFKpNNLT896udTYm4Rio7v6BSRsqYw&oe=63A45ADF"
              cover
              class="text-white"
            >
              <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                <template v-slot:prepend> </template>

                <v-toolbar-title class="text-h4"> PORTFOLIO </v-toolbar-title>
              </v-toolbar>
            </v-img>
          </v-card>
        </v-col>
        <v-col>
          <v-card width="400" height="600">
            <v-card-text>
              <div class="font-weight-bold ml-1 mb-2">Profile</div>

              <v-timeline density="compact" align="start">
                <v-timeline-item
                  v-for="message in messages"
                  :key="message.time"
                  :dot-color="message.color"
                  size="x-small"
                >
                  <div class="mb-9">
                    <div class="font-weight-normal">
                      <strong>{{ message.from }}</strong>
                    </div>
                    <div>{{ message.message }}</div>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-parallax>
</template>
